:host {
  display: block;
  height: calc(100% - 130px);
}
.info {
  height: 20px;
  margin: 0;
  background: #dfdee8;
}
.wrapper {
  height: calc(85% - 20px);
  display: flex;
}
main {
  height: 100%;
  width: 100%;
  overflow: auto;
}
form {
  height: 15%;
  display: flex;
  align-items: flex-start;
  border-top: 1px solid;
}
textarea {
  height: 100%;
  width: 90%;
  border-top: 0;
}
button[type=submit] {
  width: 50px;
  display: block;
  height: 50px;
  margin: auto;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
.message-wrapper.own-message {
  margin: 5px 0 5px 50px;
  background: #a2ccc9;
  padding: 5px;
  border-radius: 5px 0 0 5px;
}
.message-header span {
  font-style: italic;
  margin-right: 5px;
}
.message-header .time {
  font-size: 12px;
}
.message-wrapper {
  margin: 5px 50px 5px 0;
  background: #ccc;
  padding: 5px;
  border-radius: 0 5px 5px 0;
}

