<div class="wrapper">
  <aside>
    <h2>Users</h2>
    <div class="users-container">
      <ul>
        <li *ngFor="let user of users" [ngClass]="{offline: !user.online}">{{user.name}}</li>
      </ul>
    </div>
  </aside>
  <main>
    <div *ngFor="let message of messages" class="message-wrapper" [ngClass]="{'own-message': message.author === nickname}">
      <div class="message-header">
        <span>{{message.author}}</span>
        <span>
        <span class="day">{{message.day}}</span>
        <span class="time">{{message.time}}</span>
      </span>
      </div>
      <p>{{message.body}}</p>
    </div>
  </main>
</div>
<form>
  <textarea placeholder="message..." #message></textarea>
  <button type="submit" (click)="sendMessage(message.value); message.value = ''">Send</button>
</form>
